body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none; 
}
.btn-warning {
  background-color: rgb(243, 134, 33) !important;
  border-color: rgb(243, 127, 19) !important;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited,
.btn-warning:focus {
  background-color: rgb(243, 127, 19) !important;
  border-color: rgb(243, 127, 19) !important;
}
.clip-star {
  @apply relative w-full h-full;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}